<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<title>Tela inicial - Administrador E-commerce</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container-fluid">
		<div>

			<form th:action="@{/logout}" method="post" th:hidden="true"
				name="logoutForm">
				<input type="submit" />
			</form>
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<a class="navbar-brand" th:href="@{/}"> <img class="m-3"
					style="max-width: 80px" th:src="@{/images/logo.png}" />
				</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#topNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse " id=topNavbar>
					<ul class="navbar-nav">
						<li><span class="fas fa-user fa-2x icon-dark"></span></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
							sec:authentication="principal.nome"> </a>

							<div class="dropdown-menu">
								<a class="dropdown-item" id="logoutLink" href="">Logout</a>
							</div></li>

						<li class="nav-item" sec:authorize="hasAuthority('Administrador')" ><a class="nav-link"
							th:href="@{/usuarios}">Usuários</a></li>
						<!-- <li class="nav-item"><a class="nav-link"
							th:href="@{/categorias}">Categorias</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/marcas}">Marcas</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/produtos}">Produtos</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/clientes}">Clientes</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/envios}">Envios</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/relatorioVendas}">Relatório de vendas</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/pedidos}">Pedidos</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/menus}">Menus</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/configuracoes}">Configurações</a></li> -->

					</ul>
				</div>
			</nav>
		</div>
		<div>
			<h1>Painel de controle do administrador</h1>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(document).ready(function() {
		$("#logoutLink").on("click", function(e) {
			e.preventDefault();
			document.logoutForm.submit();

		});
	});
</script>
</html>