<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<title>Tela inicial - Administrador E-commerce</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container-fluid">
		<div>
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<a class="navbar-brand" th:href="@{/}"> <img
					style="max-width: 100px" th:src="@{/images/logo.png}" />
				</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#topNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id=topNavbar>
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/usuarios}">Usuários</a></li>
						<!-- <li class="nav-item"><a class="nav-link"
							th:href="@{/categorias}">Categorias</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/marcas}">Marcas</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/produtos}">Produtos</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/clientes}">Clientes</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/envios}">Envios</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/relatorioVendas}">Relatório de vendas</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/pedidos}">Pedidos</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/menus}">Menus</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/configuracoes}">Configurações</a></li> -->
					</ul>
				</div>
			</nav>
		</div>
		<div>
			<h2>Administrar usuários</h2>
			<a th:href="@{/usuarios/cadastrar}">Cadastrar novo usuário</a>
		</div>
		<div th:if="${message != null}"
			class="alert alert-success text-center">[[${message}]]</div>
		<div class="table-responsive ">
			<table class="table table-bordered table-sriped table-hover">
				<thead class="table-dark">
					<tr>
						<th>ID Usuário</th>
						<th>Nome</th>
						<th>Cargo</th>
						<th>Status</th>
						<th>CPF</th>
						<th>Email</th>
						<th>Telefone</th>
						<th>Nascimento</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuario : ${listarUsuarios}">
						<td>[[${usuario.id}]]</td>
						<td>[[${usuario.nome}]]</td>
						<td>[[${usuario.cargos}]]</td>
						<td>[[${usuario.cpf}]]</td>
						<td>[[${usuario.email}]]</td>
						<td>[[${usuario.telefone}]]</td>
						<td>[[${usuario.nascimento}]]</td>
						<td><a th:if="${usuario.ativado == true}"
							class="fa-solid fa-circle-check fa-2x icon-green" href=""></a> <a
							th:if="${usuario.ativado == false}"
							class="fa-solid fa-circle-check fa-2x icon-dark" href=""></a></td>
						<td><a class="fa-solid fa-user-pen fa-2x icon-dark" href=""></a>
							&nbsp;<a class="fa-solid fa-user-slash fa-2x icon-dark" href=""></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>